@page
@model HonorSystem.Pages.ItemRequests.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>
<h3>Sei sicuro di voler eliminare la richiesta?</h3>
<hr />

<div class="row custom-container-sidebar col-auto">
    <dl class="row">
        <dt class="col-md-3 col-sm-4">
            Distribuito
        </dt>
        <dd class="col-md-9 col-sm-8">
            @if (Model.Itemrequest.IsSupplied == 1) { 
                <span><i class="bi bi-check-circle-fill" style="color: green;"></i></span>
            } else { 
                <span><i class="bi bi-x-circle-fill" style="color: red;"></i></span> 
            }
        </dd>

        <dt class="col-md-3 col-sm-4">
            @Html.DisplayNameFor(model => model.Itemrequest.Item)
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Itemrequest.Item.IdItem)
        </dd>

        <dt class="col-md-3 col-sm-4">
            @Html.DisplayNameFor(model => model.Itemrequest.Player)
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Itemrequest.Player.IdMembers)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Itemrequest.IdItemRequest" />
        <input type="submit" class="btn btn-danger" value="Elimina" />
        <a asp-page="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
    </form>
</div>
