@page
@model HonorSystem.Pages.ItemRequests.EditModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli </h1>
<h4>Richiesta Item (ID @Html.DisplayFor(model => model.Itemrequest.IdItemRequest))</h4>
<hr />

<div class="row custom-container-sidebar col-auto">
        <dt class="col-md-3 col-sm-4">
            IdItemRequest
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Itemrequest.IdItemRequest)
        </dd>

        <dt class="col-md-3 col-sm-4">
            Item ID
        </dt>
        <dd class="col-md-9 col-sm-8">
            @Html.DisplayFor(model => model.Itemrequest.ItemId)
        </dd>

        <dt class="col-md-3 col-sm-4">
            Distribuito
        </dt>
        <dd class="col-md-9 col-sm-8">
            @if (Model.Itemrequest.IsSupplied == 1) { 
                <span><i class="bi bi-check-circle-fill" style="color: green;"></i></span>
            } else { 
                <span><i class="bi bi-x-circle-fill" style="color: red;"></i></span> 
            }
        </dd>
    <div>
    <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
    </div>
</div>

