@page
@model HonorSystem.Pages.ItemRequests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Itemrequest</h4>
<hr />
<div class="row">
    <div class="col-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Itemrequest.IdItemRequest" />
            <div class="form-group">
                <label asp-for="Itemrequest.IsSupplied" class="control-label"></label>
                <input asp-for="Itemrequest.IsSupplied" class="form-control" />
                <span asp-validation-for="Itemrequest.IsSupplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itemrequest.ItemId" class="control-label"></label>
                <select asp-for="Itemrequest.ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                <span asp-validation-for="Itemrequest.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itemrequest.PlayerId" class="control-label"></label>
                <select asp-for="Itemrequest.PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
                <span asp-validation-for="Itemrequest.PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
