@page
@model HonorSystem.Pages.ItemRequests.IndexModel
@{
    ViewData["Title"] = "Item Requests";
}

<script>
    window.onload = function () {
        $('#memberTable').DataTable({
            "paging": true,  // Attiva la paginazione
            "searching": true,  // Abilita la ricerca
            "ordering": true,  // Abilita l'ordinamento
            "pageLength": 25,  // Imposta il numero di righe per pagina (puoi cambiare questo valore)
            "lengthMenu": [5, 10, 25, 50, 100],  // Opzioni per le righe per pagina (es. 5, 10, 25, 50, 100)
            "pagingType": "full_numbers",  // Tipo di paginazione (numeri completi)
            "language": {
                "lengthMenu": "",
                "info": "",
                "search": "Cerca:"
            }
        });
    };
</script>

<h2>Item Requests</h2>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Item Request</a>
</div>

<div class="table-responsive">
    <table id="itemRequestTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>È presente</th>
                <th>Item</th>
                <th>Player</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Itemrequest)
            {
                <tr>
                    <td>@item.IdItemRequest</td>
                    <td>@item.IsSupplied</td>
                    <td>@item.Item?.ItemName</td>
                    <td>@item.Player?.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
