@page
@model HonorSystem.Pages.ItemRequests.IndexModel
@{
    ViewData["Title"] = "Item Requests";
}


<h2>Item Requests</h2>

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Crea Item Request</a>
</div>

<div class="table-responsive">
    <table id="itemRequestTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Is Supplied</th>
                <th>Item</th>
                <th>Player</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Itemrequest)
            {
                <tr>
                    <td>@item.IdItemRequest</td>
                    <td>@item.IsSupplied</td>
                    <td>@item.Item?.ItemName</td>
                    <td>@item.Player?.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    
    window.onload = function() {
        $('#itemRequestTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true
        });
    };
</script>
