@page
@model HonorSystem.Pages.HonorEntryTypes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Inserimento Tipo di Punteggio</h1>
<hr />

<div class="row custom-container-sidebar col-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentrytype.Type" class="control-label"></label>
                <input asp-for="Honorentrytype.Type" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.Type" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentrytype.DefaultPoints" class="control-label"></label>
                <input asp-for="Honorentrytype.DefaultPoints" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.DefaultPoints" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentrytype.Description" class="control-label"></label>
                <input asp-for="Honorentrytype.Description" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentrytype.Expiration" class="control-label"></label>
                <input asp-for="Honorentrytype.Expiration" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.Expiration" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <input type="submit" value="Salva" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
