@page
@model HonorSystem.Pages.HonorEntryTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Honorentry type</h4>
<hr />
<div class="row">
    <div class="col-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Honorentrytype.IdHonorEntryType" />
            <div class="form-group">
                <label asp-for="Honorentrytype.Type" class="control-label"></label>
                <input asp-for="Honorentrytype.Type" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Honorentrytype.DefaultPoints" class="control-label"></label>
                <input asp-for="Honorentrytype.DefaultPoints" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.DefaultPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Honorentrytype.Description" class="control-label"></label>
                <input asp-for="Honorentrytype.Description" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Honorentrytype.Expiration" class="control-label"></label>
                <input asp-for="Honorentrytype.Expiration" class="form-control bg-dark" />
                <span asp-validation-for="Honorentrytype.Expiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salva" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
