@page
@using HonorSystem.sakila
@model HonorSystem.Pages.HonorEntry.BulkInsertModel

@{
    ViewData["Title"] = "BulkInsert";
}


<h1>Create</h1>

<h4>Honorentry</h4>
<hr />
<div class="row">
    <div class="col-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="BulkInsertViewModel.AssignedPoints" class="control-label"></label>
                <input asp-for="BulkInsertViewModel.AssignedPoints" class="form-control" />
                <span asp-validation-for="BulkInsertViewModel.AssignedPoints" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="BulkInsertViewModel.Description" class="control-label"></label>
                <input asp-for="BulkInsertViewModel.Description" class="form-control" />
                <span asp-validation-for="BulkInsertViewModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="BulkInsertViewModel.ExpirationDate" class="control-label"></label>
                <input asp-for="BulkInsertViewModel.ExpirationDate" class="form-control" />
                <span asp-validation-for="BulkInsertViewModel.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="BulkInsertViewModel.HonorEntryTypeId" class="control-label"></label>
                <select asp-for="BulkInsertViewModel.HonorEntryTypeId" class="form-control"
                    asp-items="ViewBag.HonorEntryTypeId" onchange="onChange()"></select>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="BulkInsertViewModel.PlayerId" class="control-label"></label>
                <select asp-for="BulkInsertViewModel.PlayerId" class="form-control"
                    asp-items="ViewBag.PlayerId"></select>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <input type="submit" value="Salva" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
            </div>
        </form>
    </div>
</div>

<script>

    var honorEntryTypeList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.HonorEntryTypes)) || [];

    function onChange() {
        var selectedHonorList = honorEntryTypeList.find((x) => {
            if (x.IdHonorEntryType == document.getElementById("BulkInsertViewModel_HonorEntryTypeId").value)
                return true;
            return false;
        });

        if (selectedHonorList == null) {
            console.log("HonorEntryType " + document.getElementById("BulkInsertViewModel_HonorEntryTypeId").value + " is undefined");
            return;
        }

        document.getElementById("BulkInsertViewModel_AssignedPoints").value = selectedHonorList.DefaultPoints;
        document.getElementById("BulkInsertViewModel_Description").value = selectedHonorList.Description;

        if (selectedHonorList.Expiration == 0) {
            document.getElementById("BulkInsertViewModel_ExpirationDate").value = null;
        } else {
            var ms = Date.now();
            if (document.getElementById("BulkInsertViewModel_ExpirationDate").value == '') {
                var newDate = addDaysToDate(ms, selectedHonorList.Expiration);
                document.getElementById("BulkInsertViewModel_ExpirationDate").value = newDate.toISOString().substr(0, 16);
            } else {
                var newDate = addDaysToDate(document.getElementById("BulkInsertViewModel_ExpirationDate").value, selectedHonorList.Expiration);
                document.getElementById("BulkInsertViewModel_ExpirationDate").value = newDate.toISOString().substr(0, 16);
            }
        }
    }

    window.onload = onChange();
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        List<Honorentrytype> honorEntryTypes = ViewBag.HonorEntryTypes;

        if (honorEntryTypes == null || honorEntryTypes?.Count == 0)
        {
            // TODO: Throw error
        }


    }


}
