@page
@using HonorSystem.sakila
@model HonorSystem.Pages.HonorEntry.CreateModel

@{
    ViewData["Title"] = "Create";
}

<!-- Datatable + script selectAll-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Inizializzazione DataTable
        $('#players').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 100,
            "language": {
                "lengthMenu": "Mostra _MENU_ righe per pagina",
                "search": "Cerca:",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ righe",
                "infoEmpty": "Nessuna riga disponibile",
                "paginate": {
                    "next": "Avanti",
                    "previous": "Indietro"
                }
            },
        });
    });

    // Gestione del cambio tipo di punteggio
    function onChange() {
        var honorEntryTypeList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.HonorEntryTypes)) || [];
        var selectedHonorList = honorEntryTypeList.find(x => x.IdHonorEntryType == document.getElementById("Honorentry_HonorEntryTypeId").value);

        if (!selectedHonorList) {
            console.log("HonorEntryType non definito.");
            return;
        }

        document.getElementById("Honorentry_AssignedPoints").value = selectedHonorList.DefaultPoints;
        document.getElementById("Honorentry_Description").value = selectedHonorList.Description;

        if (selectedHonorList.Expiration == 0) {
            document.getElementById("Honorentry_ExpirationDate").value = null;
        } else {
            var newDate = addDaysToDate(Date.now(), selectedHonorList.Expiration);
            document.getElementById("Honorentry_ExpirationDate").value = newDate.toISOString().substr(0, 16);
        }
    }

    window.onload = onChange;
</script>

<h1>Inserimento Punteggio</h1>
<hr />

<div class="row custom-container-sidebar col-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentry.AssignedPoints" class="control-label">Punti Assegnati</label>
                <input asp-for="Honorentry.AssignedPoints" class="form-control bg-dark" />
                <span asp-validation-for="Honorentry.AssignedPoints" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentry.Description" class="control-label">Descrizione</label>
                <input asp-for="Honorentry.Description" class="form-control bg-dark" />
                <span asp-validation-for="Honorentry.Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentry.ExpirationDate" class="control-label">Data di Scadenza</label>
                <input asp-for="Honorentry.ExpirationDate" class="form-control bg-dark"/>
                <span asp-validation-for="Honorentry.ExpirationDate" class="text-danger"></span>
            </div>
           <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentry.HonorEntryTypeId" class="control-label">Tipo di Punteggio</label>
                <select asp-for="Honorentry.HonorEntryTypeId" class="form-control bg-dark"
                    asp-items="ViewBag.HonorEntryTypeId" onchange="onChange()"></select>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="Honorentry.PlayerId" class="control-label">Player</label>
                <select asp-for="Honorentry.PlayerId" class ="form-control" asp-items="ViewBag.PlayerId"></select>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <input type="submit" value="Salva" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger"><i class="bi bi-arrow-left"></i></a>
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        List<Honorentrytype> honorEntryTypes = ViewBag.HonorEntryTypes;

        if (honorEntryTypes == null || honorEntryTypes?.Count == 0)
        {
            // TODO: Throw error
        }
    }
}
