html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (max-width: 1500px){
  #sidebarMenu {
    display: none !important;
  }
}

body {
  margin-bottom: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.9s, color 0.6s;
  display: flex;
  flex-direction: row;
}

:root {
  --bg-color: #121212;
  --text-color: white;
}

.table-responsive {
  box-shadow: 0 4px 8px rgba(21, 21, 21, 0.4);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
  overflow-x: hidden; 
  overflow-y: hidden;
  background-color: #1e1e1e;
  color: white;
  border-color: #444;
  text-align: center;
}

/* Hover in modalità scura */
.list-group-item:hover {
  background-color: #28a745 !important; /* Verde per hover in modalità scura */
  color: white !important; /* Colore del testo per miglior contrasto */
}

/* Stile di base per la modalità scura */
.list-group-item {
  background-color: #343a40 !important; /* Sfondo scuro per la modalità scura */
  color: white !important; /* Colore del testo chiaro */
}

/* Stile per il link attivo in modalità scura */
 .list-group-item.active {
  background-color: #198754 !important; /* Verde per il link attivo in modalità scura */
  color: white !important; /* Colore del testo per miglior contrasto */
  font-weight: bold !important; /* Testo in grassetto */
  border-radius: 10px !important; /* Mantenere la forma arrotondata */
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

table.dataTable>thead .sorting::before,
table.dataTable>thead .sorting_asc::before,
table.dataTable>thead .sorting_desc::before,
table.dataTable>thead .sorting_asc_disabled::before,
table.dataTable>thead .sorting_desc_disabled::before,
table.dataTable>thead .sorting::after,
table.dataTable>thead .sorting_asc::after,
table.dataTable>thead .sorting_desc::after,
table.dataTable>thead .sorting_asc_disabled::after,
table.dataTable>thead .sorting_desc_disabled::after {
  right: 0 !important;
  content: "" !important;
}

table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled),
table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#sidebarMenu {
  height: auto;
  background-color: white;
  padding-top: 10px;
}

.footer-text {
  font-size: 14px;
  color: #bbb;
  transition: color 0.3s ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
  overflow-x: hidden;
  background-color: #1e1e1e;
  color: white;
  border-color: #444;
}

table td,
table th,
table tr {
  text-align: center;
  padding: 12px;
  border: 1px solid #555;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #333;
}

table th {
  background-color: #292929;
}

table tbody tr:nth-of-type(odd) td {
  background-color: #252525;
}

table tbody tr:hover td {
  background-color: #555;
}

.table-bordered {
  border: 1px solid #444;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #555;
}

.btn {
  color: white !important;
}

.table-striped tbody tr:nth-of-type(odd) td {
  background-color: #252525 !important;
}

.table-hover tbody tr:hover td {
  background-color: #555 !important;
}

 .table,
.table th,
.table td {
  background-color: #1e1e1e !important;
  color: white !important;
  border-color: #444 !important;
  text-align: center;
}

  .table thead th {
  background-color: #292929 !important;
}

  .table-bordered {
  border: 1px solid #444 !important;
}

  #sidebarMenu {
  background-color: #1e1e1e !important;
  color: white !important;
}

  #sidebarMenu a {
  color: white !important;
}

  #sidebarMenu a:hover {
  background-color: red !important;
}

  .list-group-item {
  color: #ddd !important;
  background-color: #333 !important;
}

  .list-group-item:hover {
  background-color: #444 !important;
  color: #fff !important;
}

a,
.btn {
  border-radius: 10px;
}

  .btn-primary {
  background-color: #0d6efd !important;
  border-color: #0a58ca !important;
  color: white !important;
}

  .btn-secondary {
  background-color: #6c757d !important;
  border-color: #565e64 !important;
  color: white !important;
}

  .btn-success {
  background-color: #198754 !important;
  border-color: #146c43 !important;
  color: white !important;
}

  .btn-danger {
  background-color: #dc3545 !important;
  border-color: #b02a37 !important;
  color: white !important;
}

  .btn-warning {
  background-color: #ffc107 !important;
  border-color: #ffca2c !important;
  color: black !important;
}

  .btn-info {
  background-color: #0dcaf0 !important;
  border-color: #31d2f2 !important;
  color: black !important;
}

  .btn-light {
  background-color: #f8f9fa !important;
  border-color: #f9fafb !important;
  color: black !important;
}

  .btn-dark {
  background-color: #212529 !important;
  border-color: #1d2124 !important;
  color: white !important;
}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  .custom-shadow {
  box-shadow: 0 4px 8px rgba(21, 21, 21, 0.4);
}

  .container {
  color: white;
}

  .form-control {
  background-color: #333;
  color: #fff;
  border-color: #444;
}

.form-group {
  margin-bottom: 10px;
}

header img {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.list-group-item {
  border-bottom: none !important;
}

table th,
table td {
  text-align: center !important;
}

/* Stile per il link attivo in modalità scura */
.list-group-item.active {
  background-color: red !important; /* Verde per il link attivo in dark mode */
  color: white !important; /* Colore del testo per miglior contrasto */
  font-weight: bold !important; /* Testo in grassetto */
  border-radius: 10px !important; /* Mantenere la forma arrotondata */
}

/* Hover in modalità scura */
.list-group-item:hover {
  background-color: #28a745 !important; /* Verde per hover in modalità scura */
  color: white !important; /* Colore del testo per miglior contrasto */
}

/* Stile di base per la modalità scura, cambia il colore di base dei link */
.list-group-item {
  background-color: #343a40 !important; /* Sfondo scuro di base per la modalità scura */
  color: white !important; /* Colore del testo chiaro */
}

.modal-content {
  height: 100%;
  overflow-y: auto;
}

.align-left-table td {
  text-align: left; /* Allinea il contenuto delle celle a sinistra */
  vertical-align: middle; /* centra verticalmente il contenuto delle celle */
}

.align-left-table .form-check {
  text-align: left; /* Allinea il contenuto del div con checkbox a sinistra */
}

.align-left-table .form-check-label {
  margin-left: 5px; /* Facoltativo: aggiunge un piccolo margine tra il checkbox e l'etichetta */
}


/* Scurisce il menu a discesa per la selezione delle righe per pagina */
.dataTables_length select {
  background-color: #333 !important; /* Sfondo scuro */
  color: white !important; /* Testo chiaro */
  border: 1px solid #444; /* Bordo scuro */
  border-radius: 4px; /* Bordo arrotondato */
  padding: 5px; /* Padding interno per migliorare l'aspetto */
}

/* Modifica lo sfondo durante il focus */
.dataTables_length select:focus {
  outline: none;
  background-color: #444 !important; /* Sfondo ancora più scuro durante il focus */
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  z-index: 9999; /* Porta il loader sopra tutti gli altri elementi */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.version-display {
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  z-index: 1; /* Assicurati che la versione sia sopra altri contenuti */
}

/* Stile per la select */
.form-control {
  color: #fff; /* Testo bianco */
}

/* Stile per il menu a tendina */
.form-control option {
  color: #fff; /* Testo bianco */
}

.form-control.bg-dark {
  background-color: #222 !important; /* Sfondo scuro forzato */
  color: #fff !important; /* Testo bianco */
  border: 1px solid #555; /* Bordo grigio */
}

.form-control.bg-dark:focus {
  background-color: #222 !important; /* Mantiene lo sfondo scuro in focus */
  color: #fff !important; /* Testo bianco */
  border-color: #777; /* Cambia leggermente il bordo in focus */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); /* Effetto glow leggero */
}

.clickable-row {
  cursor: pointer; /* Trasforma il puntatore in una mano */
}

div.DTE_Field_InputControl select option {
  border: solid 1px #035096;
  background-color: #035096;
}

#dt-length-0 > option{
  background-color: #222222;
}