@page
@model HonorSystem.Pages.Bosses.IndexModel

@{
    ViewData["Title"] = "Bosses";
}

<!-- Datatable -->
<script>
    window.onload = function() {
        $('#itemTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 25,
            "language": {
                "lengthMenu": "Mostra _MENU_ righe per pagina",
                "search": "Cerca:",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ righe",
                "infoEmpty": "Nessuna riga disponibile",
                "paginate": {
                    "next": "Avanti",
                    "previous": "Indietro"
                }
            }
        });
    };
</script>

<h1>Lista Boss</h1>
<hr />

<div class="form-group">
    <a asp-page="Create" class="btn btn-primary">Inserisci Boss</a>
</div>

<div class="table-responsive" style="padding-left: 10px; padding-right: 10px;">
    <table id="itemTable" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Boss
                </th>
                <th>
                    Field Boss
                </th>
                <th>
                    Arch Boss
                </th>
                <th>
                    Guild Boss
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Boss)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BossName)
                    </td>
                    <td>
                        @if (item.IsField == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i> <!-- Vero -->
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i> <!-- Falso -->
                        }
                    </td>
                    <td>
                        @if (item.IsArch == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i> <!-- Vero -->
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i> <!-- Falso -->
                        }
                    </td>
                    <td>
                        @if (item.IsGuild == 1)
                        {
                            <i class="bi bi-check-circle-fill" style="color: green;"></i> <!-- Vero -->
                        }
                        else
                        {
                            <i class="bi bi-x-circle-fill" style="color: red;"></i> <!-- Falso -->
                        }
                    </td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.IdBoss" data-bs-toggle="tooltip"
                            title="Modifica"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="./Details" class="btn btn-secondary" asp-route-id="@item.IdBoss"
                            data-bs-toggle="tooltip" title="Dettagli"><i class="bi bi-eye"></i></a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.IdBoss" data-bs-toggle="tooltip"
                            title="Elimina"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
